.DefaultButton {
	border: 1px solid #605e5c;
	color: #323130;
	outline: none;
	cursor: pointer;
	height: 32px;
	font-weight: 500;
	padding: 0 16px;
	border-radius: 2px;

	&:disabled {
		border-color: #f3f2f1;
		background-color: #f3f2f1;
		color: #a19f9d;
		cursor: default;
	}

	&:hover:disabled {
		border-color: #f3f2f1;
		background-color: #f3f2f1;
		color: #a19f9d;
	}
}

.PrimaryButton {
	border: 1px solid transparent;
	color: #fff;
}
