.DefaultButton {
	border: 1px solid #605e5c;
	color: #323130;
	outline: none;
	cursor: pointer;
	height: 32px;
	font-weight: 500;
	padding: 0 16px;
	border-radius: 2px;
}

.PrimaryButton {
	border: 1px solid transparent;
	color: #fff;
}
